:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent1-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(white);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: #e9c46a;
}

.navigation ul {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

article {
    position: absolute;
    top: 350px;
    color: white;
    background-color: var(--accent1-color);
    color: white;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.history h2 {
    grid-column: 1 / 4;
}

.history img {
    width: 100%;
    height: auto;
}

.history p {
    margin: 0;
    padding: 10px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
}

.adventure img {
    width: 100%;
    height: auto;
    display: block;
}

.adventure figcaption {
    text-align: center;
    margin-top: 8px;
}

.information h2 {
    margin-bottom: 20px;
}

.information {
    text-align: center;
}

.contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;

    margin: 20px auto;
    max-width: 1100px;
}

.contact-form {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 8px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.contact-form textarea {
    height: 80px;
    resize: vertical;
}

.contact-form p {
    margin: 0;
}

.contact-form label {
    align-self: center;
}

.contact-form label:has(input[type="radio"]),
.contact-form label:has(input[type="checkbox"]) {
    grid-column: 2;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    margin: 20px auto;
    padding: 10px;
    max-width: 1100px;
}

.profiles h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin: 0;
}

.profiles {
    text-align: center;
}

.profiles img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.profiles p {
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-top: 40px;

    border-top: 1px solid #777;
}

footer p {
    margin: 0;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}