@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,539;1,75..100,539&display=swap')

:root{
    --primary-color: #b93508;
    --secondary-color: #8EA604;
    --accent-color: #FFCF33;
    --accent-color-2: #FFBB33;

    --heading-font: 'https://fonts.googleapis.com/css2?family=Bungee&display=swap', sans serif;
    --paragraph-font: 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&display=swap', sans serif;
    
    --nav-background-color: #FFFFFF;
    --nav-link-color: #b93508;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #b93508;
}

body{
    f_____: var(--paragraph-font);
    m_____: 960px;
    p_____: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font)
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent-color);
}

p {
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2em;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}